$text-blue: hsl(238, 29%, 16%);
$text-dkblue: hsl(240, 6%, 50%);
$text-xdkblue: hsl(237, 12%, 33%);
$text-red: hsl(14, 88%, 65%);
$grad-violet: hsl(273, 75%, 66%);
$grad-blue: hsl(240, 73%, 65%);
$divider-blue: hsl(240, 5%, 91%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // font-size: 62.5%;
  font-size: 100%;
}

body {
  // font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
  padding: 10rem 1rem;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(180deg, $grad-violet, $grad-blue);
}

.card {
  background: #ffffff;
  border-radius: 2rem;
  max-width: 56rem;
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 15rem;
}

.card-box {
  display: none;
}

.card-image {
  position: relative;
}

.card-image-desktop {
  display: none;
}

.card-image-mobile {
  position: absolute;
  top: -6.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 15rem;
  height: auto;
}

.card-text {
  padding-top: 7rem;
}

@media (min-width: 56em) {
  body {
    padding: 10rem;
  }

  .card {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding-right: 2rem;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: 45%;
    background-position: -13% center;
  }

  .card-box {
    display: block;
    position: absolute;
    left: 0;
    top: 56%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  .card-image,
  .card-text {
    flex: 1;
  }

  .card-image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card-image-desktop {
    display: block;
    width: 100%;
    max-width: 25rem;
    height: auto;
    position: relative;
    transform: translateX(-4rem);
  }

  .card-image-mobile {
    display: none;
  }

  .card-text {
    padding-top: 0;
  }
}

// Links
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
