$text-blue: hsl(238, 29%, 16%);
$text-dkblue: hsl(240, 6%, 50%);
$text-xdkblue: hsl(237, 12%, 33%);
$text-red: hsl(14, 88%, 65%);
$grad-violet: hsl(273, 75%, 66%);
$grad-blue: hsl(240, 73%, 65%);
$divider-blue: hsl(240, 5%, 91%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 10rem 1rem;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(180deg, $grad-violet, $grad-blue);
}

.card {
  padding: 0 1.5rem 2.8rem 1.5rem;
  background: #ffffff;
  border-radius: 2rem;
  max-width: 60rem;
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 15rem;
}

// Illustration
.card-box {
  display: none;
}

.card-image {
  position: relative;
}

.card-image-desktop {
  display: none;
}

.card-image-mobile {
  position: absolute;
  top: -6.6rem;
  left: 50%;
  transform: translateX(-55%);
  display: block;
  width: 100%;
  max-width: 16rem;
  height: auto;
}

// Card content
.card-text {
  padding-top: 7rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.accordion-item {
  border-bottom: 1px solid $divider-blue;

  h2 {
    margin: 0;
  }
}

.accordion-question {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: left;
  font-weight: 700;
  border: none;
  background: transparent;
  color: $text-blue;
  cursor: pointer;

  &:after {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    margin-left: auto;
    background: url('../images/icon-arrow-down.svg');
    background-size: 0.75rem;
    background-repeat: no-repeat;
    background-position: right;
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
  }
}

.accordion-collapse {
  font-size: 0.75rem;
  color: $text-dkblue;
  padding-bottom: 1rem;
  transition: font-size 0.25s, margin 0.25s, padding 0.25s, opacity 0.5s 0.25s;
}

.accordion-item:not(.show) {
  .accordion-question {
    color: $text-dkblue;

    &:after {
      transform: rotate(0);
    }
  }

  .accordion-collapse {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: opacity 0.25s, font-size 0.5s 0.25s, margin 0.5s 0.25s,
      padding 0.5s 0.25s;
  }
}

// Desktop view
@media (min-width: 56em) {
  body {
    padding: 10rem;
  }

  .card {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 2rem;
    padding: 3rem 2rem 3rem 0;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: 45%;
    background-position: -13% center;
  }

  .card-box {
    width: 20%;
    display: block;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateX(-60%) translateY(-50%);
    z-index: 1;
  }

  .card-image,
  .card-text {
    flex: 1;
  }

  .card-image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card-image-desktop {
    display: block;
    width: 100%;
    max-width: 25rem;
    height: auto;
    position: relative;
    transform: translateX(-4rem);
  }

  .card-image-mobile {
    display: none;
  }

  .card-text {
    padding-top: 0;

    h1 {
      text-align: left;
    }
  }
}

// Links
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
